In [1]:
%run titolari_e_panchinari.ipynb

In [40]:
create = True

ultima_giornata = 10

In [41]:
l = range(min(ultima_giornata, 3), min(ultima_giornata + 1, 10))
l = range(3, 4)
if create:
    [consigli_di_giornata(ultima_giornata, n_giornate, save=create, save_final=create) for n_giornate in l]

/tmp/ipykernel_110/1740598682.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  statistiche['Nome'] = statistiche.index

salvato final result 10 considerando le precedenti 3 in final_result/giornata_10/final_result_ultime_3.xlsx
creato consigli di giornata 11 considerando le precedenti 3
salvato consigli di giornata 11 considerando le precedenti 3 in consigli_giornata/giornata_11/consigli_ultime_3.xlsx

In [33]:
def consigli_di_giornata_formazione(ultima_giornata, n_giornate, lega, team='Io'):
    listone = pd.read_excel("Listone_produzione.xlsx")
    team = listone[(listone.Lega == lega) & (listone.Proprietario == team)].Nome.tolist()
    lista_nomi = '("'+'", "'.join(team) + '")'
    path = f"consigli_giornata/giornata_{ultima_giornata+1}/consigli_ultime_{n_giornate}.xlsx"
    print(f"letto il file {path}")
    return pd.read_excel(path).query(f'Nome in {lista_nomi}').sort_values(["FantaVoto", "FantaVotoPotenziale", "Voto", "VotoPotenziale"], ascending=(False, False, False, False))

In [34]:
dfs = [pd.read_excel(f"consigli_giornata/giornata_{ultima_giornata+1}/consigli_ultime_{n}.xlsx") for n in l]

In [35]:
# dfs = [consigli_di_giornata_formazione(ultima_giornata, n, "FANTABERTEBOOM", "Io") for n in l]
dfs = [consigli_di_giornata_formazione(ultima_giornata, n, "Fantacalcio Massa", "Io") for n in l]
# dfs = [consigli_di_giornata_formazione(ultima_giornata, n, "Lega dei Cojon", "Io") for n in l]

letto il file consigli_giornata/giornata_11/consigli_ultime_3.xlsx
letto il file consigli_giornata/giornata_11/consigli_ultime_4.xlsx
letto il file consigli_giornata/giornata_11/consigli_ultime_5.xlsx
letto il file consigli_giornata/giornata_11/consigli_ultime_6.xlsx
letto il file consigli_giornata/giornata_11/consigli_ultime_7.xlsx
letto il file consigli_giornata/giornata_11/consigli_ultime_8.xlsx
letto il file consigli_giornata/giornata_11/consigli_ultime_9.xlsx

In [38]:
squadra_titolare, panchinari, listone = titolari_e_panchinari2(
    dfs,
    num_df=5,
#     esclusioni=["PARISI"],
#     aggiunte=["UDOGIE"],
#     modulo=["3-4-3"],
#     modulo=["4-3-3"],
#     lista_giocatori_titolari=["MERET", "SKRINIAR", "UDOGIE", "KIM", "PASALIC", "LUIS ALBERTO", "PESSINA", "CANDREVA", "LOZANO", "ARNAUTOVIC", "MARTINEZ L."]
)
squadra_titolare

4-3-3 77.0

    R              Nome     Squadra  counts
0   P         SILVESTRI     Udinese       5
1   D              DOIG      Verona       5
2   D               KIM      Napoli       5
3   D     RODRIGO BECAO     Udinese       5
4   D            PARISI      Empoli       4
5   C  MILINKOVIC-SAVIC       Lazio       5
7   C            IKONE'  Fiorentina       3
6   C            LOVRIC     Udinese       4
9   A           DESSERS   Cremonese       4
8   A           ABRAHAM        Roma       5
10  A            CAPUTO   Sampdoria       4

In [10]:
panchinari

,R,Nome,FantaVotoTroncato,VotoTroncato,FantaVotoPotenziale,VotoPotenziale,counts
7,A,DIA,6.5,6.0,6.565834,5.982094,NaN
9,A,BELOTTI,6.5,6.0,6.464641,6.038522,NaN
12,C,FELIPE ANDERSON,6.0,6.0,6.225788,6.229632,NaN
14,C,SORIANO,6.0,6.0,5.994529,5.994544,NaN
15,D,VOJVODA,6.0,6.0,5.866534,5.827953,NaN
16,D,BONUCCI,6.0,6.0,5.816126,5.837844,NaN
17,C,BENNACER,6.0,6.0,5.802325,5.969434,NaN
18,C,BONAVENTURA,5.5,6.0,5.676000,5.900362,NaN
19,D,IBANEZ,5.5,6.0,5.582703,5.781168,NaN
20,C,ELMAS,5.5,5.5,5.653099,5.562273,NaN
21,P,FALCONE,5.0,6.0,5.065439,6.067287,NaN

In [11]:
listone

,R,Nome,FantaVotoPotenziale,VotoPotenziale,FantaVotoTroncato,VotoTroncato
11,C,MILINKOVIC-SAVIC,8.892082,6.925244,9.0,7.0
14,D,DOIG,7.997978,6.395219,8.0,6.5
3,A,DESSERS,7.637909,6.366649,7.5,6.5
0,A,ABRAHAM,7.135261,6.334277,7.0,6.5
2,A,CAPUTO,6.915910,6.039707,7.0,6.0
9,C,IKONE',6.717780,6.153592,6.5,6.0
10,C,LOVRIC,6.640457,6.195708,6.5,6.0
4,A,DIA,6.565834,5.982094,6.5,6.0
16,D,KIM,6.471618,6.179947,6.5,6.0
1,A,BELOTTI,6.464641,6.038522,6.5,6.0
21,P,SILVESTRI,6.144925,6.349403,6.0,6.5
18,D,RODRIGO BECAO,6.117951,6.516839,6.0,6.5
8,C,FELIPE ANDERSON,6.225788,6.229632,6.0,6.0
17,D,PARISI,6.018171,6.198147,6.0,6.0
12,C,SORIANO,5.994529,5.994544,6.0,6.0
19,D,VOJVODA,5.866534,5.827953,6.0,6.0
13,D,BONUCCI,5.816126,5.837844,6.0,6.0
5,C,BENNACER,5.802325,5.969434,6.0,6.0
6,C,BONAVENTURA,5.676000,5.900362,5.5,6.0
15,D,IBANEZ,5.582703,5.781168,5.5,6.0
7,C,ELMAS,5.653099,5.562273,5.5,5.5
20,P,FALCONE,5.065439,6.067287,5.0,6.0